/*
Name: Steven Phan
Date created: 02/27/2026
Date last edited: 02/27/2026
Version: 1.0
Description: Homework 1 CSS
*/

header {
    width: 100%;
    background-color: #4CAF50; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    margin: 0;
    height: 100%;
    min-height: 100vh; 
}

form {
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    flex-grow: 1;
}

.image {
    text-align: left;
}

.td1 {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

th {
    text-align: center;
    font-family: Arial, sans-serif;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    height: 2.0rem;
}

#footer {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

input {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 5px;
}

p {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}